{% extends "djepoMainBundle::layout.html.twig" %}
  
{% block my_content %}
     {{  render(controller("djepoLocationBundle:logement:selectionIndex")) }} 
     
    <div class="row  marginInter">   
         <div class="col-sm-12">    
           <div class="panel panel-primary">
                <div class="panel-heading"> VOTRE PROCHAIN SÉJOUR  </div>
                    <div class="panel-body">
                       Sélectionne de nos coups de coeurs.  

                    </div>

                    <div class="panel-footer">  

                    </div>

               </div>
         </div>
     </div>
 
{% endblock %}

 {% block javascripts %}	
             {{ parent() }} 
  <script>
               $(function () {
                       $('.carousel').carousel({ interval: 2000 });
                       $('#first').click(function() { $('.carousel').carousel(0); });
                       $('#previous').click(function() { $('.carousel').carousel('prev'); });
                       $('#pause').click(function() { $('.carousel').carousel('pause'); });
                       $('#play').click(function() { $('.carousel').carousel('cycle'); });
                       $('#next').click(function() { $('.carousel').carousel('next'); });
                       $('#last').click(function() { $('.carousel').carousel(2); });

                       $('.carousel').on('slid.bs.carousel', function () {
                           var total = $('.item').length;
                           var current = $('.item.active').index() + 1;
                           $('.label').text(current + ' / '+ total);
                        });
               });
               
               </script>
                <script>
                        $(function (){  $('.carousel1').carousel(); });
              </script>      
{% endblock %}
